#galeria{
    background-color: black;
}
#container-galeria {
    display: grid;
    max-width: 1200px;
    width: 80vw;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 5px;
    grid-auto-flow: row dense;
    background-color: white;
    border: 4px solid white;
}

.item-galeria {
    background-size: cover;
    background-position: 50% 50%;
}
#galeria h3{
    color:rgb(245, 10, 147);
    font-size:60px;
    text-shadow: 0 0 3px rgb(0,0,0,0.8);
    padding: 40px;
}