#trailer {

    background-image: url("../img/espaço\ entre\ nos.jpg");
    background-size: cover;
    background-position-x: -500px;
    color:rgb(245, 10, 147);
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    background-attachment: fixed;
    font-size:50px;
    text-shadow: 0 0 3px rgb(0,0,0,0.8);
}
@media screen and (min-width:577px) {
    #trailer {
        background-position-x: 0;
        font-size:60px;
    }
}
#trailer div {
    width: 100vw;
    height: 56.25vw;
    max-width: 800px;
    max-height: 450px;
    margin-bottom:90px;
    border: 2px solid black;

}
